
html {
    font-family: "Tenor Sans", sans-serif;
}

.container {
    width: 500px;
    height: 400px;
    margin: 0 auto;
}

.input-txt {
    width: 100%;
    padding: 30px 20px;
    border: none;
    font-size: 1em;
    color: black;
    border-bottom: 1px dotted rgba(250, 250, 250, 0.4);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -moz-transition: background-color 0.5s ease-in-out;
    -o-transition: background-color 0.5s ease-in-out;
    -webkit-transition: background-color 0.5s ease-in-out;
    transition: background-color 0.5s ease-in-out;
}

.input-txt:-ms-input-placeholder {
    color: black;
}

.input-txt::-webkit-input-placeholder {
    color: black;
}


.login-footer {
    margin: 40px 0;
    overlow: hidden;
    float: left;
    width: 100%;
}

.btn {
    padding: 20px 40px;
    border: none;
    background: DarkCyan;
    color: black;
}

.btn--right {
    float: right;
}

.container {
    width: 30%;
    height: 100%;
    margin: 0 auto;
}

.reg {
    margin-top: 50px;
    width: 450px;
}

.reg-heading {
    font: 2em/55px "Tenor Sans", sans-serif;
    color: white;
}
