
body {
    background: url('../images/backgr.jpg');
}

.login {
    position: fixed;
    width: 340px;
    height: 240px;
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -170px;
    background: #fff;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.reg {
    position: fixed;
    width: 340px;
    height: 240px;
    top: 50%;
    left: 50%;
    margin-top: -140px;
    margin-left: -170px;
    background: #f4f4f4;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.log-label {
    color: black;
    font-weight: bold;
    border: 1px;
    margin: 12px 15px;
}

.log-reg-btn {
    text-align: center;
    margin: 10px 10px;
    color: black;
    float: right;
    font-size: 16px;
    font-weight: bold;
    width: 100px;
    height: 30px;
    cursor: pointer;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#66add6));
    /*background-image: -moz-linear-gradient(top left 90deg ,#acd6ef 20% , #6ec2e8 100%);*/
    /*background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);*/
    border-radius: 5px;
    border: 2px solid #66add6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);
}

.text-input {
    font-size: 16px;
    color: #777;
    padding-left: 15px;
    margin: 12px 15px;
    width: 290px;
    height: 35px;
    border: 1px solid #c7d0d2;
    border-radius: 2px;
    box-shadow: inset 0 2px 3px rgba(200, 190, 190, 10.4), 0 0 0 5px #f5f7f8;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    transition: all .4s ease;
}

