.newInstanceWin{
    text-align: center;
    width: 50%;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
    color: black;
    background-color: #f4f4f4;
    border-radius: 5px;
    border:  2px solid #f5f7f8;
}
.table{
    padding:10px;
    font-size: 16px;
    font-weight: bold;
    color: black;
    margin: 0 auto;
    background-color: #f4f4f4;
    border-radius:5px ;
    border: 2px solid #f5f7f8;
}
.btn{
    padding: 10px;
    text-align: center;
    margin: 10px 10px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    width: 100px;
    height: 35px;
    cursor: pointer;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#acd6ef), to(#698fc2));
    /*background-image: -moz-linear-gradient(top left 90deg ,#acd6ef 20% , #6ec2e8 100%);*/
    /*background-image: linear-gradient(top left 90deg, #acd6ef 0%, #6ec2e8 100%);*/
    border-radius: 3px;
    border: 2px solid #acd6ef;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .3), inset 0 1px 0 rgba(255, 255, 255, .5);

}
