body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
    float: left;
    border: 1px solid green;
}

.btn-active {
    background-color: palevioletred;
}

input {
    display: none;
    background: white;
}

input[type="radio"]:checked + label {
    background: palevioletred;
}

input[type="radio"] + label {
    background:aquamarine;
}
